{% extends "layout.html" %}
{% block content %}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
            </div>
            <h4 class="page-title">{{ title }}</h4>
        </div>
    </div>
</div>     
<!-- end page title -->

<!-- Refinary plant lab report -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <!-- <div class="row">
                    <div class="col text-center">
                        <h2 class="header-title mb-2">Summary</h2>
                    </div>
                </div>
                <p class="text-muted font-14">
                   Section One:
                </p> --> 

                <form action="{{ url_for('lab_reports') }}" method="post">

                    <!-- <div class="row g-2">

                        <div class="mb-3 col-md-2 bg-primary py-2">
                            <span class="font-12 my-label text-white">Time</span>
                            <input type="time" id="time" name="time" class="form-control" required>
                        </div>
    
                        <div class="mb-3 col-md-2 bg-primary py-2">
                            <span class="font-12 my-label text-white">% FFA-specs-0.065%max- Palm oil, Sunflower and Soybean oil 0.09 % max- Corn oil</span>
                            <input type="text" id="ffa-specs" name="ffa-specs" class="form-control">
                        </div>

                        <div class="mb-3 col-md-2 bg-primary py-2">
                            <span class="font-12 my-label text-white">RED-specs -3.0max -Palm oil 1.0max-S/flwr 2.0 max-Corn &  Soybean oils</span>
                            <input type="text" id="red-specs" name="red-specs" class="form-control" required>
                        </div>
    
                        <div class="mb-3 col-md-2 bg-primary py-2">
                            <span class="font-12 my-label text-white">YELLOW-specs 70 max-Palm  10 max S/flwr  15 max-Corn & S/bean</span>
                            <input type="text" id="yellow-specs" name="yellow-specs" class="form-control" required>
                        </div>

                        <div class="mb-3 col-md-2 bg-primary py-2">
                            <span class="font-12 my-label text-white">ODOUR-characteristic of specific oil</span>
                            <input type="text" id="odour" name="odour" class="form-control" required>
                        </div>
    
                        <div class="mb-3 col-md-1 bg-primary py-2">
                            <span class="font-12 my-label text-white">VISIBLE IMP-Nil</span>
                            <input type="text" id="visible-imp-1" name="visible-imp-1" class="form-control">
                        </div>

                        <div class="mb-3 col-md-1 bg-primary py-2">
                            <span class="font-12 my-label text-white">FLOW
                                RATE-L/HR</span>
                            <input type="text" id="flow-rate" name="flow-rate" class="form-control">
                        </div>

                    </div>

                    <div class="row g-2">
                        
                        <div class="mb-3 col-md-2 bg-primary py-2">
                            <span class="font-12 my-label text-white">FINAL OIL
                                TEMP, °C 60-70-P1   35-50- P2</span>
                            <input type="text" id="final-oil-temp" name="final-oil-temp" class="form-control">
                        </div>

                        <div class="mb-3 col-md-2 bg-primary py-2">
                            <span class="font-12 my-label text-white">% FFA-   2.5 min-P1  0.2max -P2</span>
                            <input type="text" id="ffa" name="ffa" class="form-control">
                        </div>

                        <div class="mb-3 col-md-1 bg-primary py-2">
                            <span class="font-12 my-label text-white">RED-70 max</span>
                            <input type="text" id="red-70" name="red-70" class="form-control">
                        </div>

                        <div class="mb-3 col-md-1 bg-primary py-2">
                            <span class="font-12 my-label text-white">VISIBLE IMP-Nil</span>
                            <input type="text" id="visible-imp-2" name="visible-imp-2" class="form-control">
                        </div>

                        <div class="mb-3 col-md-2 bg-primary py-2">
                            <span class="font-12 my-label text-white">BLEACH TEMP°C  100-115</span>
                            <input type="text" id="bleach-temp" name="bleach-temp" class="form-control">
                        </div>

                        <div class="mb-3 col-md-2 bg-primary py-2">
                            <span class="font-12 my-label text-white">DEOD
                                TEMP°C 250-275-P1>260-P2</span>
                            <input type="text" id="deod-temp" name="deod-temp" class="form-control">
                        </div>

                        <div class="mb-3 col-md-2 bg-primary py-2">
                            <span class="font-12 my-label text-white">Comments</span>
                            <textarea class="form-control" name="comments" id="comments" cols="30" rows="1"></textarea>
                        </div>

                    </div> -->

                    <!-- Submit button -->
                    <!-- <div class="row mt-4">
                        <div class="col-sm-6">

                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-right">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-paper-plane"></i> Submit Report </button>
                            </div>
                        </div>
                    </div>  -->
                    <!-- end row -->

                </form>
                <!-- <hr> -->

                <div class="row mb-4">
                    <div class="col-md-6">
                        <h4 class="header-title text-primary">Submitted Reports</h4>
                        <p class="text-muted">The table shows all the previously submitted lab reports.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="text-sm-right">
                            <button  type="button" class="btn btn-secondary" data-toggle="modal" data-target="#scrollable-modal"> <i class="fas fa-plus"></i> Add New</button>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead class="thead-light">
                            <tr>
                                <th class="theaders">Time</th>
                                <th class="theaders">% FFA-specs-0.065%max- Palm oil, Sunflower and Soybean oil 0.09 % max- Corn oil</th>
                                <th class="theaders">RED-specs -3.0max -Palm oil   1.0max-S/flwr 2.0 max-Corn &  Soybean oils</th>
                                <th class="theaders">YELLOW-specs 70 max-Palm  10 max S/flwr  15 max-Corn & S/bean</th>
                                <th class="theaders">ODOUR-characteristic of specific oil</th>
                                <th class="theaders">VISIBLE IMP-Nil</th>
                                <th class="theaders">FLOW RATE-L/HR</th>
                                <th class="theaders">FINAL OIL TEMP, °C 60-70-P1   35-50- P2</th>
                                <th class="theaders">% FFA-   2.5 min-P1  0.2max -P2</th>
                                <th class="theaders">RED-70 max</th>
                                <th class="theaders">VISIBLE IMP-Nil</th>
                                <th class="theaders">BLEACH TEMP°C  100-115</th>
                                <th class="theaders">DEOD TEMP°C 250-275-P1>260-P2</th>
                                <th class="theaders">Comments</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if lab_reports %}
                                {% for report in lab_reports %}
                                    <tr>
                                        <form action="{{ url_for('update_reports') }}" method="post">
                                            <td>
                                                <input type="hidden" name="report-id" value="{{ report.report_id }}">
                                                <input type="time" name="time" value="{{ report.time }}" class="my-input">
                                            </td>
                                            <td>
                                                <input type="number" name="ffa-specs" value="{{ report.ffa_specs }}" class="my-input">
                                            </td>
                                            <td>
                                                <input type="number" name="red-specs" value="{{ report.red_specs }}" class="my-input">
                                            </td>
                                            <td>
                                                <input type="number" name="yellow-specs" value="{{ report.yellow_specs }}" class="my-input">   
                                            </td>
                                            <td>
                                                <input type="text" name="odour" value="{{ report.odour }}" class="my-input">
                                            </td>
                                            <td>
                                                <input type="number" name="odour" value="{{ report.visible_imp_1 }}" class="my-input">
                                            </td>
                                            <td>
                                                <input type="number" name="flow-rate" value="{{ report.flow_rate }}" class="my-input">
                                            </td>
                                            <td>
                                                <input type="number" name="final-oil-temp" value="{{ report.final_oil_temp }}" class="my-input">
                                            </td>
                                            <td>
                                                <input type="number" name="ffa" value="{{ report.ffa }}" class="my-input">
                                            </td>
                                            <td>
                                                <input type="number" name="red-70" value="{{ report.red_70 }}" class="my-input">
                                            </td>
                                            <td>
                                                <input type="number" name="visible-imp-2" value="{{ report.visible_imp_2 }}" class="my-input">
                                            </td>
                                            <td>
                                                <input type="number" name="bleach-temp" value="{{ report.bleach_temp }}" class="my-input">
                                            </td>
                                            <td>
                                                <input type="number" name="deod-temp" value="{{ report.deod_temp }}" class="my-input">
                                            </td>
                                            <td>
                                                <input type="text" name="comments" value="{{ report.comments }}" class="my-input">
                                            </td>
                                            <td class="table-action">
                                                <button type="submit"
                                                class="action-icon my-button"> <i class="fas fa-upload text-warning"></i></button>
                                            </td>
                                        </form>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- end refinary plant lab report -->

<!-- Additional tests report -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Additional Tests - REFINERY PLANT LABORATORY REPORT</h4>
                <p class="text-muted mb-4">The table shows all the previously submitted lab reports.</p>

                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="dataTable2" width="100%" cellspacing="0">
                        <thead class="thead-light">
                            <tr>
                                <th>Test</th>
                                <th>Specs</th>
                                <th>Time</th>
                                <th>Analysis</th>
                                <th>Time</th>
                                <th>Analysis</th>
                                <th>Time</th>
                                <th>Analysis</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if additional_tests %}
                                {% for test in additional_tests %}
                                    <tr>
                                        <form action="{{ url_for('lab_reports') }}" method="post">
                                            <td>{{ test.test }} <input type="hidden" name="test-id" value="{{ test.test_id }}"></td>
                                            <td>{{ test.specs }} <input type="hidden" name="additional"></td>
                                            <td><input type="time" name="time1" value="{{ test.time1 }}" class="my-input"></td>
                                            <td><input type="text" name="analysis1" value="{{ test.analysis1 }}" class="my-input"></td>
                                            <td><input type="time" name="time2" value="{{ test.time2 }}" class="my-input"></td>
                                            <td><input type="text" name="analysis2" value="{{ test.analysis2 }}" class="my-input"></td>
                                            <td><input type="time" name="time3" value="{{ test.time3 }}" class="my-input"></td>
                                            <td><input type="text" name="analysis3" value="{{ test.analysis3 }}" class="my-input"></td>
                                            <td class="table-action">
                                                <button type="submit"
                                                class="action-icon my-button"> <i class="fas fa-upload text-warning"></i></button>
                                            </td>
                                        </form>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- end additional tests -->

<!-- Add refinary report modal -->
<div class="modal fade" id="scrollable-modal" tabindex="-1" role="dialog" aria-labelledby="scrollableModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scrollableModalTitle">Add new refinary plant lab report</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('lab_reports') }}" method="post">

                    <div class="mb-3">
                        <span for="time" class="font-12">Time</span>
                        <input type="time" id="time" name="time" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <span class="font-12">% FFA-specs-0.065%max- Palm oil, Sunflower and Soybean oil 0.09 % max- Corn oil</span>
                        <input type="number" id="ffa-specs" name="ffa-specs" class="form-control">
                    </div>

                    <div class="mb-3">
                        <span class="font-12">RED-specs -3.0max -Palm oil 1.0max-S/flwr 2.0 max-Corn &  Soybean oils</span>
                        <input type="number" id="red-specs" name="red-specs" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <span class="font-12">YELLOW-specs 70 max-Palm  10 max S/flwr  15 max-Corn & S/bean</span>
                        <input type="number" id="yellow-specs" name="yellow-specs" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <span class="font-12">ODOUR-characteristic of specific oil</span>
                        <input type="text" id="odour" name="odour" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <span class="font-12">VISIBLE IMP-Nil</span>
                        <input type="text" id="visible-imp-1" name="visible-imp-1" class="form-control">
                    </div>

                    <div class="mb-3">
                        <span class="font-12">FLOW
                            RATE-L/HR</span>
                        <input type="number" id="flow-rate" name="flow-rate" class="form-control">
                    </div>

                    <div class="mb-3">
                        <span class="font-12">FINAL OIL
                            TEMP, °C 60-70-P1   35-50- P2</span>
                        <input type="number" id="final-oil-temp" name="final-oil-temp" class="form-control">
                    </div>

                    <div class="mb-3">
                        <span class="font-12">% FFA-   2.5 min-P1  0.2max -P2</span>
                        <input type="number" id="ffa" name="ffa" class="form-control">
                    </div>

                    <div class="mb-3">
                        <span class="font-12">RED-70 max</span>
                        <input type="number" id="red-70" name="red-70" class="form-control">
                    </div>

                    <div class="mb-3">
                        <span class="font-12">VISIBLE IMP-Nil</span>
                        <input type="text" id="visible-imp-2" name="visible-imp-2" class="form-control">
                    </div>

                    <div class="mb-3">
                        <span class="font-12">BLEACH TEMP°C  100-115</span>
                        <input type="number" id="bleach-temp" name="bleach-temp" class="form-control">
                    </div>

                    <div class="mb-3">
                        <span class="font-12">DEOD
                            TEMP°C 250-275-P1>260-P2</span>
                        <input type="number" id="deod-temp" name="deod-temp" class="form-control">
                    </div>

                    <div class="mb-3">
                        <span class="font-12">Comments</span>
                        <textarea class="form-control" name="comments" id="comments" cols="30" rows="5"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock content %}
